* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #dcd9d2;
}

a {
    cursor: pointer;
}

.dark-mode {
    background-color: #33353A;
    color: #dcd9d2;
}

.btn-primary {
    background-color: #fd851b;
    border-color: #b75f12;
    transition: .5s;
}

.btn-primary:hover {
    background-color: #da761f;
    border-color: #cb6a15;
}

nav {
    background-color: #fd851b;
}

.dark-mode .card {
    background-color: #2C3B4D;
    color: #dcd9d2;
}

.nav-link {
    color: black;
}

.dark-mode .nav-link {
    color: #dcd9d2;
}

.dark-mode .btn-outline-light:hover {
    color: #1B2632;
}

.dark-mode .btn-contact {
    color: #dcd9d2;
    border-color: #dcd9d2;
}

.dark-mode .btn-contact:hover {
    color: #dcd9d2;
    border-color: #dcd9d2;
}

.dark-mode .navbar,
.dark-mode footer {
    background-color: #1B2632 !important;
}

.dark-mode .btn-outline-primary {
    color: #dcd9d2;
    border-color: #dcd9d2;
}

.dark-mode .contact-info {
    background-color: #eeeeee;
}

.dark-mode .btn-outline-light {
    color: #dcd9d2;
    border-color: #dcd9d2;
}

.hero {
    min-height: 70vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url("./img/hero1.jpg") center / cover no-repeat;
}

.card {
    border-radius: 1rem;
}

footer a {
    color: #e3eee0 !important;
    text-decoration: none;
}

.dark-mode footer a {
    color: #fd851b !important;
}

footer a:hover {
    text-decoration: underline;
}

body,
.card,
.navbar,
footer {
    transition: background-color 0.3s, color 0.3s;
}

.parallax-card {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    color: white;
}

.bg-about {
    background-image: url("./img/pic1.jpg");
}

.bg-what {
    background-image: url("./img/pic2.jpg");
}

.bg-for {
    background-image: url("./img/pic3.jpg");
}

.bg-values {
    background-image: url("./img/pic4.jpg");
}

.bg-future {
    background-image: url("./img/pic-save1.jpg");
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
}

.content {
    position: relative;
    max-width: 900px;
}

.content h1,
.content h2 {
    font-weight: 700;
}

.fade-scroll {
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.9s ease;
}

.fade-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

p {
    font-size: 1.1rem;
}

.fade-scroll p {
    font-size: 1.2rem;
}

.btn-light {
    border: 1px solid #1B2632;
}

.accordion-item {
    border: 1px solid #1B2632;
    border-radius: 20px;
}

.accordion-button {
    justify-content: space-between;
}

.accordion-button i {
    transition: transform 0.3s ease;
}

.accordion-button:not(.collapsed) i {
    transform: rotate(180deg);
}

.dark-mode .accordion-button {
    background-color: #1B2632;
    color: #dcd9d2;
    border-color: #dcd9d2;
}

.accordion-button::after {
    display: none;
}

.dark-mode .accordion-item {
    background-color: #1B2632;
    color: #dcd9d2;
    border-color: #dcd9d2;
}

.accordion-collapse {
    border-top: 1px solid #1B2632;
}

.dark-mode .modal-body {
    color: black;
}